@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --primary: #c8e1eabf;
  --secondary: #ffffff;
}

body {
  align-items: flex-start;
  margin: 0;
  padding: inline-start;
  font-family: "Poppins";
  background: var(--secondary);
}
footer {
  /* position: absolute; */
  text-align: center;
  bottom: 0;
  width: 98%;
  height: 2.5rem;
  margin-top: auto;
}
footer p {
  color: #1d1b1b;
}

* {
  color: black;
  margin: 0;
}

p {
  margin: 5px 0;
}

button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  /* background: var(--primary); */
  cursor: pointer;
}

/* navbar */
header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.8);
}

header nav a:hover {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  color: rgba(231, 220, 220, 0.8);
}

/* page content */
main {
  max-width: auto;
  margin: 40px auto;
}

/* help layout */
.help-layout nav,
.about nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}

.help-layout nav a,
.about nav a {
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  text-decoration: none;
  background: #ffffff;
}

.help-layout nav a:hover,
.about nav a:hover {
  border-color: var(--primary);
}

.help-layout nav a.active,
.about nav a.active {
  background: var(--primary);
}

/* services */
.services .serdesc {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* faq */
.faq .question {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact form */
form {
  margin-top: 30px;
}

form input,
form label span,
form textarea {
  display: block;
}

form input,
form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0px;
  border: solid 1px black;
  width: 300px;
  color: black;
}

form label span {
  margin-bottom: 10px;
}

/* Link lists */
.careers,
.wiki {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.careers>a,
.wiki>a {
  display: block;
  background: rgba(0, 0, 0, 0.315);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}

.careers>a:hover p,
.wiki>a:hover p {
  color: var(--primary);
}

.careers p,
.wiki p {
  margin: 0;
}

.careers>a p:last-child,
.wiki>a p:last-child {
  font-size: 0.8em;
  color: black;
}

/* careers details */
.career-details,
.about-details {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* breadcrumbs */
.breadcrumbs {
  max-width: auto;
  margin: 20px auto;
}

.breadcrumbs>* {
  display: inline-block;
  margin-right: 10px;
}

.breadcrumbs .crumb:after {
  content: ">";
  margin-left: 10px;
}

.breadcrumbs .crumb:last-child:after {
  display: none;
}

.breadcrumbs .crumb a {
  color: #070707;
}

/* hero */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-28%, -200%);
  width: 100%;
}

.hero-text h1{
  font-size: 3rem;
  font-weight: 800;
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text p{
  font-size: 1.3rem;
  color: #ffffff;
  padding: 0.5rem 0 2rem 0;
}

@media screen and (max-width: 555px){
  .hero-text h1 {
    padding: 10px 20px;
  }
}

.hero-text p {
  font-size: 1.1rem;
  padding: 0 0 2rem 0;
}